/*
http://tobiasahlin.com/blog/curved-path-animations-in-css/
https://css-tricks.com/svg-line-animation-works/
https://tympanus.net/codrops/2015/12/16/animated-map-path-for-interactive-storytelling/
https://codepen.io/jerrylow/pen/KaPvNa
*/
